{
	"semi": true,
	"singleQuote": false,
	"arrowParens": "always",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"jsxSingleQuote": false,
	"printWidth": 90,
	"tabWidth": 2
}
